.basic-dialog {
  .basic-dialog-btn {
    width: 8vw;
    //text-align: center;
    border-radius: 5px;
    height: 4vh;
    outline: none;
    color: #fff;
    border: 0;
    margin-left: 2vw;
  }
  .basic-dialog-btn-sure {
    background: #55AB7F
  }
  .basic-dialog-btn-false {
    background: #9E9E9E;
  }
  ::ng-deep .ui-dialog .ui-widget-content{
    background: #DCDCDC;
   }
  ::ng-deep .ui-dialog-titlebar{
    font-size: 1rem;
  }
}
//ng-trigger ng-trigger-animation ng-tns-c12-19  ui-widget ui-widget-content ui-corner-all ui-shadow ui-dialog-draggable ui-dialog-resizable ng-star-inserted
