<div class="basic-dialog" *ngIf="dialogOption">
  <p-dialog [header]="dialogOption.title" [(visible)]="dialog"  [width]="dialogOption.width">
    <!--Content-->
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}" *ngIf="dialogOption.type === 'add'">
      <div class="ui-g-6" *ngFor="let item of dialogOption.dataList">
        <div class="ui-g-4">
          <label>{{item.name}}</label>
        </div>
        <div class="ui-g-8" style="line-height: 3vh">
          <div>
            <input  id="settingName" type="text" pInputText [placeholder]="item.value.input.label"  [pKeyFilter]="item.value.input.filter" [pValidateOnly]="true" [(ngModel)]="item.value.input.value">
          </div>
          <div>
            <p-dropdown  [options]="item.value.dropdown.option" scrollHeight="100px" [placeholder]="item.value.dropdown.label" [(ngModel)]="item.value.dropdown.value"></p-dropdown>
          </div>
          <div>
            <p-radioButton type="radio" [label]="i.label"  [value]="i.value" [name]="i.name"  *ngFor="let i of item.value.radioBox" [ngStyle]="{'margin-left':'2vw'}" [(ngModel)]="i.data"></p-radioButton>
            <!--<p-radioButton type="radio" [label]="item.label"  value="女" name="group" [ngStyle]="{'margin-left':'2vw'}" ></p-radioButton>-->
          </div>
          <div>
            <p-calendar [placeholder]="item.value.date.label" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy/mm/dd"  yearRange="1900:2050" [locale]="esDate" [(ngModel)]="item.value.date.value"></p-calendar>
          </div>
          <div>
            <textarea id="remarks" type="text" pInputTextarea  [placeholder]="item.value.textBox.label" [rows]="item.value.textBox.row" [cols]="item.value.textBox.col" [(ngModel)]="item.value.textBox.value"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g ui-fluid" [ngStyle]="{'line-height':'3vh'}" *ngIf="dialogOption.type === 'detail'">
      <div class="ui-g-6" *ngFor="let item of data.dataList">
        <div class="ui-g-4">
          <label>{{item.label}}</label>
        </div>
        <div class="ui-g-8" style="line-height: 3vh">
          <span>{{item.value}}</span>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button  class="basic-dialog-btn basic-dialog-btn-sure" (click)="SureClick($event)">确认</button>
        <button  class="basic-dialog-btn basic-dialog-btn-false" (click)="CloseClick($event)">取消</button>
      </div>
    </p-footer>
  </p-dialog>
</div>
